.venv
api/__pycache__
api/elasticsearch_simple_client/__pycache__
client/node_modules
api/db
api/alembic/versions/
api/credentials.json
api/app/credentials.json
client/tsconfig.node.tsbuildinfo
client/tsconfig.app.tsbuildinfo
api/override.env
client/override.env
